.PageTitle {
  text-align: center;
  color: red;
}

.p {
   line-height: 50%;
}

.MenuItems {
  text-align: center;
}


.TopicTitle {
  text-align: center;
  color: black;
}

.Content {
  text-align: left;
  color: black;
 }

.Body {
  text-align: left;
  background-color: lightblue;
 }

